* {
    margin: 0;
    padding: 0;
}

.content-login {
    width: 50% !important;
}

#editmodals {
    display: none;
}

#edit_modals_user {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    background: #b7b7b7b8;
}

#modal_edit {
    display: grid;
    gap: 0.5rem;
    background: white;
    padding: 1rem;
}

.logout {
    position: fixed !important; 
    top: 0 !important;
    right: 0 !important;
    padding: 0.5rem !important;
}
